<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta
      name='viewport'
      content='width=device-width, initial-scale=1, shrink-to-fit=no'
    />
  </head>
  <body>
    <div class='container'>
      <p>Here is a copy of your GroupDraft</p>
      <p>{{text}}</p>
    </div>
  </body>
</html>