<main>
	
	{{!-- join groupdraft --}}
	<form class="username-form">
		<input id="username-input" placeholder="Username"></input>
		<button id="create-user-btn">Join GroupDraft</button>
	</form>

	{{!-- online users --}}
	<div id="online-users-container">
		<h5>Active Users:</h5>
		<ul id="online-users-ul">
		</ul>
	</div>

	{{!-- textarea --}}
	<div id="groupdraft-textarea-container">
		<h2>Currently working on...</h2>
		<textarea id="groupdraft-textarea" name="groupdraft" rows="30" cols="40"></textarea>
	</div>

	{{!-- send email --}}
	<div id="send-email-btn-container">
		<button id="send-email-btn">Email your GroupDraft</button>
	</div>

</main>