<main>
	
	{{!-- join groupdraft --}}
	<form class="username-form">
		<input id="username-input" placeholder="Username"></input>
		<button id="create-user-btn">Join GroupDraft</button>
	</form>

	{{!-- textarea --}}
	<div id="groupdraft-textarea-container">
		<textarea id="groupdraft-textarea" name="groupdraft" rows="5" cols="33"></textarea>
	</div>

	{{!-- send email --}}
	<div id="send-email-btn-container">
		<button id="send-email-btn">Email your GroupDraft</button>
	</div>

</main>